examples/continuous.json
[
  {
    "id": "25441caf3c8534e2",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "4657b6fbdbaf6f7e",
    "name": "venv test",
    "code": "import time\nstart = time.time()\n\noffset = msg[\"payload\"] if \"payload\" in msg else 0\n\ntime.sleep(1)\nend = time.time()\nlength = end - start\nprint(f'Time: {length}')\n\nwhile True:\n    time.sleep(1)\n    end = time.time()\n    length = end - start\n    print(f'Time: {length + offset}')",
    "continuous": true,
    "stdInData": false,
    "_mcu": { "mcu": false },
    "x": 1440,
    "y": 1260,
    "wires": [["114b918e3eb7ad96"]]
  },
  {
    "id": "446c4d54c3afdb80",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "_mcu": { "mcu": false },
    "x": 1250,
    "y": 1300,
    "wires": [["25441caf3c8534e2"]]
  },
  {
    "id": "5056f4320a8479d0",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "terminate",
    "props": [{ "p": "terminate", "v": "true", "vt": "bool" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "_mcu": { "mcu": false },
    "x": 1260,
    "y": 1260,
    "wires": [["25441caf3c8534e2"]]
  },
  {
    "id": "114b918e3eb7ad96",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "time",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 1590,
    "y": 1260,
    "wires": []
  },
  {
    "id": "4657b6fbdbaf6f7e",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "default"
  }
]
