examples/flows.json
[
  {
    "id": "c45c04db2987653c",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 680,
    "y": 2560,
    "wires": []
  },
  {
    "id": "a188371841023711",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "requests",
    "code": "import requests\nurl = 'https://example.com/'\n    \ntry:\n    response = requests.get(url)\n\n    if response.status_code == 200:\n        print(response.text)\n    else:\n        print(f\"Failed to retrieve data. Status code: {response.status_code}\")\nexcept requests.RequestException as e:\n    print(f\"An error occurred: {e}\")",
    "_mcu": { "mcu": false },
    "x": 520,
    "y": 2560,
    "wires": [["c45c04db2987653c", "2e1f090ebb65b6fe"]]
  },
  {
    "id": "7ba222816f58207f",
    "type": "pip",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "pip install requests",
    "arg": "requests",
    "action": "install",
    "_mcu": { "mcu": false },
    "x": 550,
    "y": 2480,
    "wires": [["49c3fb2e3c89c0c5"]]
  },
  {
    "id": "49c3fb2e3c89c0c5",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 760,
    "y": 2480,
    "wires": []
  },
  {
    "id": "e8f445ef70a07477",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2480,
    "wires": [["7ba222816f58207f"]]
  },
  {
    "id": "6804be6580cdea18",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2560,
    "wires": [["a188371841023711"]]
  },
  {
    "id": "28586b0a18f1874e",
    "type": "pip",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "pip uninstall requests",
    "arg": "requests",
    "action": "uninstall",
    "_mcu": { "mcu": false },
    "x": 560,
    "y": 2520,
    "wires": [["349fd43a1ec03de1"]]
  },
  {
    "id": "349fd43a1ec03de1",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 760,
    "y": 2520,
    "wires": []
  },
  {
    "id": "1629786d40d7cf8a",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2520,
    "wires": [["28586b0a18f1874e"]]
  },
  {
    "id": "9d46cdda3e5f8f79",
    "type": "pip",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "pip list",
    "arg": "requests",
    "action": "list",
    "_mcu": { "mcu": false },
    "x": 510,
    "y": 2640,
    "wires": [["800d8cecf096bea3"]]
  },
  {
    "id": "800d8cecf096bea3",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 660,
    "y": 2640,
    "wires": []
  },
  {
    "id": "39785fb1845c8265",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 700,
    "y": 2420,
    "wires": []
  },
  {
    "id": "18745a928deae57c",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "hello world",
    "code": "print('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 530,
    "y": 2420,
    "wires": [["39785fb1845c8265"]]
  },
  {
    "id": "bc8d4257965e746c",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2420,
    "wires": [["18745a928deae57c"]]
  },
  {
    "id": "24ce53db449abb87",
    "type": "http in",
    "z": "3a0260d17167ea2b",
    "name": "",
    "url": "/url",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "_mcu": { "mcu": false },
    "x": 350,
    "y": 2600,
    "wires": [["a188371841023711"]]
  },
  {
    "id": "2e1f090ebb65b6fe",
    "type": "http response",
    "z": "3a0260d17167ea2b",
    "name": "",
    "statusCode": "",
    "headers": {},
    "_mcu": { "mcu": false },
    "x": 670,
    "y": 2600,
    "wires": []
  },
  {
    "id": "a171026a86c55d5c",
    "type": "exec",
    "z": "3a0260d17167ea2b",
    "command": "pip list",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "_mcu": { "mcu": false },
    "x": 510,
    "y": 2720,
    "wires": [["2aa6fd50aad3dba9"], [], ["94273bb3a668778f"]]
  },
  {
    "id": "dea9652985cd396c",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2720,
    "wires": [["a171026a86c55d5c"]]
  },
  {
    "id": "2aa6fd50aad3dba9",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 660,
    "y": 2700,
    "wires": []
  },
  {
    "id": "94273bb3a668778f",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 660,
    "y": 2740,
    "wires": []
  },
  {
    "id": "57fcebe823aa5c6f",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 360,
    "y": 2640,
    "wires": [["9d46cdda3e5f8f79"]]
  },
  {
    "id": "a9417274085e051e",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "",
    "_mcu": { "mcu": false }
  }
]
