examples/flows.json
[
  {
    "id": "020d19b6653c0619",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "venv test",
    "code": "import time\nstart = time.time()\n\noffset = msg[\"payload\"] if \"payload\" in msg else 0\n\ntime.sleep(1)\nend = time.time()\nlength = end - start\nprint(f'Time: {length}')\n\nwhile True:\n    time.sleep(1)\n    end = time.time()\n    length = end - start\n    print(f'Time: {length + offset}')",
    "continuous": true,
    "stdInData": false,
    "x": 480,
    "y": 580,
    "wires": [["e26b10622c9e4ed0"]]
  },
  {
    "id": "6e3a432dc0c104cd",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 330,
    "y": 620,
    "wires": [["020d19b6653c0619"]]
  },
  {
    "id": "b447d1b47607ad78",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "terminate",
    "props": [{ "p": "terminate", "v": "true", "vt": "bool" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 320,
    "y": 580,
    "wires": [["020d19b6653c0619"]]
  },
  {
    "id": "e26b10622c9e4ed0",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "time",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 580,
    "wires": []
  },
  {
    "id": "2de174fd42629445",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 340,
    "wires": []
  },
  {
    "id": "b55cd4025ff76681",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "requests",
    "code": "import requests\nurl = 'https://example.com/'\n    \ntry:\n    response = requests.get(url)\n\n    if response.status_code == 200:\n        print(response.text)\n    else:\n        print(f\"Failed to retrieve data. Status code: {response.status_code}\")\nexcept requests.RequestException as e:\n    print(f\"An error occurred: {e}\")",
    "x": 480,
    "y": 340,
    "wires": [["2de174fd42629445", "c36a8bb2d0129579"]]
  },
  {
    "id": "5a7065e68ac8f989",
    "type": "pip",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip install requests",
    "arg": "requests pip-system-certs",
    "action": "install",
    "tail": false,
    "x": 510,
    "y": 220,
    "wires": [["6f431d93cff414c2"]]
  },
  {
    "id": "6f431d93cff414c2",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 220,
    "wires": []
  },
  {
    "id": "519ecbc1d8a57556",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 220,
    "wires": [["5a7065e68ac8f989"]]
  },
  {
    "id": "3818c6c994cde031",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 340,
    "wires": [["b55cd4025ff76681"]]
  },
  {
    "id": "7898f8dab5f76031",
    "type": "pip",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip uninstall requests",
    "arg": "requests",
    "action": "uninstall",
    "x": 520,
    "y": 280,
    "wires": [["c43553a4dd059e5d"]]
  },
  {
    "id": "c43553a4dd059e5d",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 280,
    "wires": []
  },
  {
    "id": "ab599dcf1e48137e",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 280,
    "wires": [["7898f8dab5f76031"]]
  },
  {
    "id": "24b185bfc3d5814f",
    "type": "pip",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip list",
    "arg": "requests",
    "action": "list",
    "x": 470,
    "y": 420,
    "wires": [["54e11e2f8a019e0c"]]
  },
  {
    "id": "54e11e2f8a019e0c",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 420,
    "wires": []
  },
  {
    "id": "5ce6cfc428388e96",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 160,
    "wires": []
  },
  {
    "id": "6a6f071951e5b6f0",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "hello world",
    "code": "print('hello, world!')",
    "x": 490,
    "y": 160,
    "wires": [["5ce6cfc428388e96"]]
  },
  {
    "id": "4996c7a06636b063",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 160,
    "wires": [["6a6f071951e5b6f0"]]
  },
  {
    "id": "d4f109f4b8b5a66f",
    "type": "http in",
    "z": "a649c4725172b4b5",
    "name": "",
    "url": "/url",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 310,
    "y": 380,
    "wires": [["b55cd4025ff76681"]]
  },
  {
    "id": "c36a8bb2d0129579",
    "type": "http response",
    "z": "a649c4725172b4b5",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 380,
    "wires": []
  },
  {
    "id": "aa9022b25d83dfe6",
    "type": "exec",
    "z": "a649c4725172b4b5",
    "command": "pip list",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 470,
    "y": 500,
    "wires": [["155793e8d7424625"], [], ["c7b75f1ba1a3ec8b"]]
  },
  {
    "id": "9c5fe97c1e4df26c",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 500,
    "wires": [["aa9022b25d83dfe6"]]
  },
  {
    "id": "155793e8d7424625",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 480,
    "wires": []
  },
  {
    "id": "c7b75f1ba1a3ec8b",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 520,
    "wires": []
  },
  {
    "id": "f7d61915dfd62752",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 420,
    "wires": [["24b185bfc3d5814f"]]
  },
  {
    "id": "a9c33a11e633eed8",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "write msg object",
    "code": "msg['payload'] = 'message'\nmsg['topic'] = 'test'\nmsg['custom'] = [1, 2, 3]\nprint('this overrides payload')",
    "continuous": false,
    "x": 1140,
    "y": 220,
    "wires": [["fb923f8204167fe8"]]
  },
  {
    "id": "fb923f8204167fe8",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 220,
    "wires": []
  },
  {
    "id": "5b1a91eeb41ccec0",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 220,
    "wires": [["a9c33a11e633eed8"]]
  },
  {
    "id": "8fe7c55abc49a0c9",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "calculate",
    "code": "msg['payload'] = msg['payload'] * 10\n",
    "continuous": false,
    "x": 1120,
    "y": 280,
    "wires": [["3085873240ab0527"]]
  },
  {
    "id": "3085873240ab0527",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 280,
    "wires": []
  },
  {
    "id": "3e0e7d650d522f9e",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "10",
    "payloadType": "num",
    "x": 970,
    "y": 280,
    "wires": [["8fe7c55abc49a0c9"]]
  },
  {
    "id": "6b63c1baafbc610d",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment flow.counter",
    "code": "counter = node['flow'].get('counter', 0) + 1\nnode['flow']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'",
    "continuous": false,
    "x": 1160,
    "y": 400,
    "wires": [["d15db7a00aa0ed2a"]]
  },
  {
    "id": "d2ebfecf16774a31",
    "type": "change",
    "z": "a649c4725172b4b5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "counter",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "520d91722856e703",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 970,
    "y": 340,
    "wires": [["d2ebfecf16774a31"]]
  },
  {
    "id": "50850f12a7bb4538",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 400,
    "wires": [["6b63c1baafbc610d"]]
  },
  {
    "id": "d15db7a00aa0ed2a",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1360,
    "y": 400,
    "wires": []
  },
  {
    "id": "2eed3d2fa4015179",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment global.counter",
    "code": "counter = node['global'].get('counter', 0) + 1\nnode['global']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'",
    "continuous": false,
    "x": 1750,
    "y": 400,
    "wires": [["acd9e2dc367e787a"]]
  },
  {
    "id": "38f638069838775b",
    "type": "change",
    "z": "a649c4725172b4b5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "counter",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1730,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "d83bf8f5a5bf3250",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 1550,
    "y": 340,
    "wires": [["38f638069838775b"]]
  },
  {
    "id": "7fb8d6a4f2f9397b",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1550,
    "y": 400,
    "wires": [["2eed3d2fa4015179"]]
  },
  {
    "id": "acd9e2dc367e787a",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 12",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1940,
    "y": 400,
    "wires": []
  },
  {
    "id": "2a76d8f02d628db6",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 160,
    "wires": []
  },
  {
    "id": "07b85608fd9893af",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "msg property",
    "code": "print('hello, world!')\nprint(msg['payload'])\nprint(msg['test'])\nprint(msg['hello'])\nprint(msg)",
    "continuous": false,
    "x": 1130,
    "y": 160,
    "wires": [["2a76d8f02d628db6"]]
  },
  {
    "id": "1505ef02f015e472",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 160,
    "wires": [["07b85608fd9893af"]]
  },
  {
    "id": "3915160e9059a637",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment flow.counter",
    "code": "import time\nwhile True:\n    counter = node['flow'].get('counter', 0) + 1\n    node['flow']['counter'] = counter\n    msg['payload'] = f'counter = {counter}'\n    print(msg['payload'])\n    time.sleep(1)\n",
    "continuous": true,
    "x": 1160,
    "y": 460,
    "wires": [["79d60e97eff7cf75"]]
  },
  {
    "id": "b8a27ca359bfd915",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 460,
    "wires": [["3915160e9059a637"]]
  },
  {
    "id": "79d60e97eff7cf75",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1360,
    "y": 460,
    "wires": []
  },
  {
    "id": "787c430f1f9d90d7",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment global.counter",
    "code": "import time\nwhile True:\n    counter = node['global'].get('counter', 0) + 1\n    node['global']['counter'] = counter\n    msg['payload'] = f'counter = {counter}'\n    print(msg['payload'])\n    time.sleep(1)\n",
    "continuous": true,
    "x": 1750,
    "y": 460,
    "wires": [["c348074cf35d7c34"]]
  },
  {
    "id": "e25740a734d0542b",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1550,
    "y": 460,
    "wires": [["787c430f1f9d90d7"]]
  },
  {
    "id": "c348074cf35d7c34",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1940,
    "y": 460,
    "wires": []
  },
  {
    "id": "6d7a425bfcb1e260",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 67",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 740,
    "wires": []
  },
  {
    "id": "f58e6d56d339edf6",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 470,
    "y": 740,
    "wires": [["0d3dc955b62f5c9e", "7e6622bd1fd3d9f3", "08b62769e89be284"]]
  },
  {
    "id": "e4a4271bb1c7e41c",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 740,
    "wires": [["f58e6d56d339edf6"]]
  },
  {
    "id": "0d3dc955b62f5c9e",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 610,
    "y": 740,
    "wires": [["6d7a425bfcb1e260"]]
  },
  {
    "id": "e02e7aa843559730",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 68",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 800,
    "wires": []
  },
  {
    "id": "6d3d3e5e4be59689",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 470,
    "y": 800,
    "wires": [["7e6622bd1fd3d9f3"]]
  },
  {
    "id": "c02024db7a46d2ee",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 800,
    "wires": [["6d3d3e5e4be59689", "f58e6d56d339edf6"]]
  },
  {
    "id": "7e6622bd1fd3d9f3",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 610,
    "y": 800,
    "wires": [["e02e7aa843559730"]]
  },
  {
    "id": "5d0376fa941f41d3",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 69",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 860,
    "wires": []
  },
  {
    "id": "237974ca4c896ff6",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 470,
    "y": 860,
    "wires": [["476d3bafeae2eae3", "7e6622bd1fd3d9f3"]]
  },
  {
    "id": "1e0c07861fedab56",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 860,
    "wires": [["237974ca4c896ff6"]]
  },
  {
    "id": "476d3bafeae2eae3",
    "type": "venv",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 610,
    "y": 860,
    "wires": [["5d0376fa941f41d3"]]
  },
  {
    "id": "08b62769e89be284",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 70",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 700,
    "wires": []
  },
  {
    "id": "e08db136e774a42a",
    "type": "pip",
    "z": "a649c4725172b4b5",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "gTTS",
    "arg": "gTTS",
    "action": "install",
    "tail": false,
    "x": 1110,
    "y": 680,
    "wires": [["ce8af4c663b96adb"]]
  },
  {
    "id": "41328ed095da6760",
    "type": "venv-exec",
    "z": "a649c4725172b4b5",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1110,
    "y": 800,
    "wires": [["82c91547626cc9d8"]]
  },
  {
    "id": "75e94bb3b7d30a54",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 680,
    "wires": [["e08db136e774a42a"]]
  },
  {
    "id": "ce8af4c663b96adb",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 150",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 680,
    "wires": []
  },
  {
    "id": "7ea13999e9292449",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 800,
    "wires": [["41328ed095da6760"]]
  },
  {
    "id": "82c91547626cc9d8",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 151",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 800,
    "wires": []
  },
  {
    "id": "48db6b00228ca5e1",
    "type": "venv-exec",
    "z": "a649c4725172b4b5",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "list",
    "executable": "gtts-cli",
    "arguments": "'hello' --output hello.mp3",
    "x": 1110,
    "y": 740,
    "wires": [["5f9c7ab08a3914f9"]]
  },
  {
    "id": "54ceaf4757158a78",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 740,
    "wires": [["48db6b00228ca5e1"]]
  },
  {
    "id": "5f9c7ab08a3914f9",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 152",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 740,
    "wires": []
  },
  {
    "id": "3d37d53fadb25917",
    "type": "venv-exec",
    "z": "a649c4725172b4b5",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "pip.exe",
    "arguments": "list",
    "x": 1110,
    "y": 860,
    "wires": [["3e2d8a9d8b977d4e"]]
  },
  {
    "id": "d8951248677d9f9d",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 860,
    "wires": [["3d37d53fadb25917"]]
  },
  {
    "id": "3e2d8a9d8b977d4e",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 153",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 860,
    "wires": []
  },
  {
    "id": "7bcf279b5137068f",
    "type": "venv-exec",
    "z": "a649c4725172b4b5",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1110,
    "y": 620,
    "wires": [["df46d6bbfb93fa36"]]
  },
  {
    "id": "62fcbb5b79d35161",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 620,
    "wires": [["7bcf279b5137068f"]]
  },
  {
    "id": "df46d6bbfb93fa36",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "debug 155",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 620,
    "wires": []
  },
  {
    "id": "af3dc7ac38810778",
    "type": "comment",
    "z": "a649c4725172b4b5",
    "name": "exec (In Linux, exclude .exe)",
    "info": "",
    "x": 1020,
    "y": 580,
    "wires": []
  },
  {
    "id": "a24e33a88a6b1b93",
    "type": "comment",
    "z": "a649c4725172b4b5",
    "name": "running",
    "info": "",
    "x": 310,
    "y": 680,
    "wires": []
  },
  {
    "id": "eb2d690e2030e51e",
    "type": "comment",
    "z": "a649c4725172b4b5",
    "name": "vnev, pip",
    "info": "",
    "x": 320,
    "y": 100,
    "wires": []
  },
  {
    "id": "5fe552d1e1d663df",
    "type": "comment",
    "z": "a649c4725172b4b5",
    "name": "msg, flow, global objects",
    "info": "",
    "x": 1010,
    "y": 100,
    "wires": []
  },
  {
    "id": "505628b61705c35d",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 970,
    "y": 520,
    "wires": [["179292df32ad2b7e"]]
  },
  {
    "id": "179292df32ad2b7e",
    "type": "change",
    "z": "a649c4725172b4b5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "counter",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1140,
    "y": 520,
    "wires": [["d42a8c61ca10f144"]]
  },
  {
    "id": "d42a8c61ca10f144",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "flow.counter",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1330,
    "y": 520,
    "wires": []
  },
  {
    "id": "606dc22985c6420d",
    "type": "inject",
    "z": "a649c4725172b4b5",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1550,
    "y": 520,
    "wires": [["89b2bbb4d4230997"]]
  },
  {
    "id": "89b2bbb4d4230997",
    "type": "change",
    "z": "a649c4725172b4b5",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "counter",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1720,
    "y": 520,
    "wires": [["b87feeb8766ea8ab"]]
  },
  {
    "id": "b87feeb8766ea8ab",
    "type": "debug",
    "z": "a649c4725172b4b5",
    "name": "global.counter",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1920,
    "y": 520,
    "wires": []
  },
  {
    "id": "07f9f0a14e9171d0",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "default"
  },
  {
    "id": "d7998ddc646391c5",
    "type": "global-config",
    "env": [],
    "modules": { "@background404/node-red-contrib-python-venv": "0.5.7" }
  }
]
