examples/flows.json
[
  {
    "id": "25441caf3c8534e2",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "venv test",
    "code": "import time\nstart = time.time()\n\noffset = msg[\"payload\"] if \"payload\" in msg else 0\n\ntime.sleep(1)\nend = time.time()\nlength = end - start\nprint(f'Time: {length}')\n\nwhile True:\n    time.sleep(1)\n    end = time.time()\n    length = end - start\n    print(f'Time: {length + offset}')",
    "continuous": true,
    "stdInData": false,
    "x": 420,
    "y": 640,
    "wires": [["114b918e3eb7ad96"]]
  },
  {
    "id": "446c4d54c3afdb80",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "5",
    "payloadType": "num",
    "x": 270,
    "y": 680,
    "wires": [["25441caf3c8534e2"]]
  },
  {
    "id": "5056f4320a8479d0",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "terminate",
    "props": [{ "p": "terminate", "v": "true", "vt": "bool" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 640,
    "wires": [["25441caf3c8534e2"]]
  },
  {
    "id": "114b918e3eb7ad96",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "time",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 640,
    "wires": []
  },
  {
    "id": "c45c04db2987653c",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 400,
    "wires": []
  },
  {
    "id": "a188371841023711",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "requests",
    "code": "import requests\nurl = 'https://example.com/'\n    \ntry:\n    response = requests.get(url)\n\n    if response.status_code == 200:\n        print(response.text)\n    else:\n        print(f\"Failed to retrieve data. Status code: {response.status_code}\")\nexcept requests.RequestException as e:\n    print(f\"An error occurred: {e}\")",
    "x": 420,
    "y": 400,
    "wires": [["c45c04db2987653c", "2e1f090ebb65b6fe"]]
  },
  {
    "id": "7ba222816f58207f",
    "type": "pip",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip install requests",
    "arg": "requests pip-system-certs",
    "action": "install",
    "tail": false,
    "x": 450,
    "y": 280,
    "wires": [["49c3fb2e3c89c0c5"]]
  },
  {
    "id": "49c3fb2e3c89c0c5",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 280,
    "wires": []
  },
  {
    "id": "e8f445ef70a07477",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 280,
    "wires": [["7ba222816f58207f"]]
  },
  {
    "id": "6804be6580cdea18",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 400,
    "wires": [["a188371841023711"]]
  },
  {
    "id": "28586b0a18f1874e",
    "type": "pip",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip uninstall requests",
    "arg": "requests",
    "action": "uninstall",
    "x": 460,
    "y": 340,
    "wires": [["349fd43a1ec03de1"]]
  },
  {
    "id": "349fd43a1ec03de1",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 340,
    "wires": []
  },
  {
    "id": "1629786d40d7cf8a",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 340,
    "wires": [["28586b0a18f1874e"]]
  },
  {
    "id": "9d46cdda3e5f8f79",
    "type": "pip",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "pip list",
    "arg": "requests",
    "action": "list",
    "x": 410,
    "y": 480,
    "wires": [["800d8cecf096bea3"]]
  },
  {
    "id": "800d8cecf096bea3",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 480,
    "wires": []
  },
  {
    "id": "39785fb1845c8265",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "18745a928deae57c",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "hello world",
    "code": "print('hello, world!')",
    "x": 430,
    "y": 220,
    "wires": [["39785fb1845c8265"]]
  },
  {
    "id": "bc8d4257965e746c",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 220,
    "wires": [["18745a928deae57c"]]
  },
  {
    "id": "24ce53db449abb87",
    "type": "http in",
    "z": "87513a81b50f978d",
    "name": "",
    "url": "/url",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 440,
    "wires": [["a188371841023711"]]
  },
  {
    "id": "2e1f090ebb65b6fe",
    "type": "http response",
    "z": "87513a81b50f978d",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 570,
    "y": 440,
    "wires": []
  },
  {
    "id": "a171026a86c55d5c",
    "type": "exec",
    "z": "87513a81b50f978d",
    "command": "pip list",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 410,
    "y": 560,
    "wires": [["2aa6fd50aad3dba9"], [], ["94273bb3a668778f"]]
  },
  {
    "id": "dea9652985cd396c",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 560,
    "wires": [["a171026a86c55d5c"]]
  },
  {
    "id": "2aa6fd50aad3dba9",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 540,
    "wires": []
  },
  {
    "id": "94273bb3a668778f",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 580,
    "wires": []
  },
  {
    "id": "57fcebe823aa5c6f",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 480,
    "wires": [["9d46cdda3e5f8f79"]]
  },
  {
    "id": "1d3d4f5f577bdbec",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "write msg object",
    "code": "msg['payload'] = 'message'\nmsg['topic'] = 'test'\nmsg['custom'] = [1, 2, 3]\nprint('this overrides payload')",
    "continuous": false,
    "x": 1080,
    "y": 280,
    "wires": [["5d74f9566ceaaa27"]]
  },
  {
    "id": "5d74f9566ceaaa27",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1260,
    "y": 280,
    "wires": []
  },
  {
    "id": "49b5b42fdb459a5b",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 280,
    "wires": [["1d3d4f5f577bdbec"]]
  },
  {
    "id": "f06faa6775bba7e7",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "calculate",
    "code": "msg['payload'] = msg['payload'] * 10\n",
    "continuous": false,
    "x": 1060,
    "y": 340,
    "wires": [["f8a6b748bfce4896"]]
  },
  {
    "id": "f8a6b748bfce4896",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 340,
    "wires": []
  },
  {
    "id": "eebaace830b9a86e",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "10",
    "payloadType": "num",
    "x": 910,
    "y": 340,
    "wires": [["f06faa6775bba7e7"]]
  },
  {
    "id": "f8317aa3e7b3104f",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment flow.counter",
    "code": "counter = node['flow'].get('counter', 0) + 1\nnode['flow']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'",
    "continuous": false,
    "x": 1100,
    "y": 460,
    "wires": [["6bf9a7a637d06e2e"]]
  },
  {
    "id": "b68a11a66687353c",
    "type": "change",
    "z": "87513a81b50f978d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "counter",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "81f4b0b930ad0f7a",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 910,
    "y": 400,
    "wires": [["b68a11a66687353c"]]
  },
  {
    "id": "5de545123aa7bbb7",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 460,
    "wires": [["f8317aa3e7b3104f"]]
  },
  {
    "id": "6bf9a7a637d06e2e",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 460,
    "wires": []
  },
  {
    "id": "f0854a12cbb9ac81",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment global.counter",
    "code": "counter = node['global'].get('counter', 0) + 1\nnode['global']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'",
    "continuous": false,
    "x": 1110,
    "y": 640,
    "wires": [["63f3d20aed6993e9"]]
  },
  {
    "id": "0eb105900c2d3f10",
    "type": "change",
    "z": "87513a81b50f978d",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "counter",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "15a831b727888030",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 910,
    "y": 580,
    "wires": [["0eb105900c2d3f10"]]
  },
  {
    "id": "cea72b3389138573",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 640,
    "wires": [["f0854a12cbb9ac81"]]
  },
  {
    "id": "63f3d20aed6993e9",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 12",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 640,
    "wires": []
  },
  {
    "id": "ea43c9a3b3ba7f7b",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 220,
    "wires": []
  },
  {
    "id": "ea80b0c1159ef756",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "msg property",
    "code": "print('hello, world!')\nprint(msg['payload'])\nprint(msg['test'])\nprint(msg['hello'])\nprint(msg)",
    "continuous": false,
    "x": 1070,
    "y": 220,
    "wires": [["ea43c9a3b3ba7f7b"]]
  },
  {
    "id": "71a80211793e2f6e",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 880,
    "y": 220,
    "wires": [["ea80b0c1159ef756"]]
  },
  {
    "id": "7c3e38c6b5cb1dfb",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment flow.counter",
    "code": "import time\nwhile True:\n    counter = node['flow'].get('counter', 0) + 1\n    node['flow']['counter'] = counter\n    msg['payload'] = f'counter = {counter}'\n    print(msg['payload'])\n    time.sleep(1)\n",
    "continuous": true,
    "x": 1100,
    "y": 520,
    "wires": [["35c431f719d7efa0"]]
  },
  {
    "id": "e0ad1b3f1458317d",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 520,
    "wires": [["7c3e38c6b5cb1dfb"]]
  },
  {
    "id": "35c431f719d7efa0",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 520,
    "wires": []
  },
  {
    "id": "6015af4b5d34c170",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "increment global.counter",
    "code": "import time\nwhile True:\n    counter = node['global'].get('counter', 0) + 1\n    node['global']['counter'] = counter\n    msg['payload'] = f'counter = {counter}'\n    print(msg['payload'])\n    time.sleep(1)\n",
    "continuous": true,
    "x": 1110,
    "y": 700,
    "wires": [["78697fdf8efc111e"]]
  },
  {
    "id": "23ea493f98eb28b5",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 700,
    "wires": [["6015af4b5d34c170"]]
  },
  {
    "id": "78697fdf8efc111e",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 700,
    "wires": []
  },
  {
    "id": "47ecfed88b7e49d3",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 67",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 840,
    "wires": []
  },
  {
    "id": "51c478aadc0bcd16",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 410,
    "y": 840,
    "wires": [["48fdac662afcc21b", "13d8ffee18a83628", "e0bbe1ffe6c5248d"]]
  },
  {
    "id": "cb3f3834ae770e18",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 840,
    "wires": [["51c478aadc0bcd16"]]
  },
  {
    "id": "48fdac662afcc21b",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 550,
    "y": 840,
    "wires": [["47ecfed88b7e49d3"]]
  },
  {
    "id": "1d383b793ef1a870",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 68",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 900,
    "wires": []
  },
  {
    "id": "feecfb4b514cef79",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 410,
    "y": 900,
    "wires": [["13d8ffee18a83628"]]
  },
  {
    "id": "fedafe2289f5caf0",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 900,
    "wires": [["feecfb4b514cef79", "51c478aadc0bcd16"]]
  },
  {
    "id": "13d8ffee18a83628",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 550,
    "y": 900,
    "wires": [["1d383b793ef1a870"]]
  },
  {
    "id": "154f87918c456cbb",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 69",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 960,
    "wires": []
  },
  {
    "id": "55c0d0b6c5080219",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 410,
    "y": 960,
    "wires": [["5707550cb5dedbb4", "13d8ffee18a83628"]]
  },
  {
    "id": "78359bcb51fb9f0f",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 960,
    "wires": [["55c0d0b6c5080219"]]
  },
  {
    "id": "5707550cb5dedbb4",
    "type": "venv",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "continuous": false,
    "x": 550,
    "y": 960,
    "wires": [["154f87918c456cbb"]]
  },
  {
    "id": "e0bbe1ffe6c5248d",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 70",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 800,
    "wires": []
  },
  {
    "id": "71a4d72e27b59431",
    "type": "pip",
    "z": "87513a81b50f978d",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "gTTS",
    "arg": "gTTS",
    "action": "install",
    "tail": false,
    "x": 1050,
    "y": 860,
    "wires": [["86403773cfa073be"]]
  },
  {
    "id": "5aa58807060da0a8",
    "type": "venv-exec",
    "z": "87513a81b50f978d",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1050,
    "y": 980,
    "wires": [["702216b54e8b1931"]]
  },
  {
    "id": "5b9863f23d0a4b28",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 860,
    "wires": [["71a4d72e27b59431"]]
  },
  {
    "id": "86403773cfa073be",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 150",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 860,
    "wires": []
  },
  {
    "id": "9103c794596a131e",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 980,
    "wires": [["5aa58807060da0a8"]]
  },
  {
    "id": "702216b54e8b1931",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 151",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 980,
    "wires": []
  },
  {
    "id": "224f43fb6232db44",
    "type": "venv-exec",
    "z": "87513a81b50f978d",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "list",
    "executable": "gtts-cli",
    "arguments": "'hello' --output hello.mp3",
    "x": 1050,
    "y": 920,
    "wires": [["69986c82e03c31e1"]]
  },
  {
    "id": "51851ec27b1d7292",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 920,
    "wires": [["224f43fb6232db44"]]
  },
  {
    "id": "69986c82e03c31e1",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 152",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 920,
    "wires": []
  },
  {
    "id": "4cc9d2deff122f99",
    "type": "venv-exec",
    "z": "87513a81b50f978d",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "pip.exe",
    "arguments": "list",
    "x": 1050,
    "y": 1040,
    "wires": [["674f4e9c0d59530a"]]
  },
  {
    "id": "80efa3ae5b47d84e",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 1040,
    "wires": [["4cc9d2deff122f99"]]
  },
  {
    "id": "674f4e9c0d59530a",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 153",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 1040,
    "wires": []
  },
  {
    "id": "22bdf54ef0dadca2",
    "type": "venv-exec",
    "z": "87513a81b50f978d",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1050,
    "y": 800,
    "wires": [["06072c6d824f364d"]]
  },
  {
    "id": "9715a5a3e9f4dafe",
    "type": "inject",
    "z": "87513a81b50f978d",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 910,
    "y": 800,
    "wires": [["22bdf54ef0dadca2"]]
  },
  {
    "id": "06072c6d824f364d",
    "type": "debug",
    "z": "87513a81b50f978d",
    "name": "debug 155",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 800,
    "wires": []
  },
  {
    "id": "cca7feada1b22bfd",
    "type": "comment",
    "z": "87513a81b50f978d",
    "name": "exec (In Linux, exclude .exe)",
    "info": "",
    "x": 960,
    "y": 760,
    "wires": []
  },
  {
    "id": "58669939af26b6e4",
    "type": "comment",
    "z": "87513a81b50f978d",
    "name": "running",
    "info": "",
    "x": 250,
    "y": 760,
    "wires": []
  },
  {
    "id": "fae796144a4c0974",
    "type": "comment",
    "z": "87513a81b50f978d",
    "name": "vnev, pip",
    "info": "",
    "x": 260,
    "y": 160,
    "wires": []
  },
  {
    "id": "db33f691897f0e30",
    "type": "comment",
    "z": "87513a81b50f978d",
    "name": "msg, flow, global objects",
    "info": "",
    "x": 950,
    "y": 160,
    "wires": []
  },
  {
    "id": "07f9f0a14e9171d0",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "default"
  },
  {
    "id": "437cd441cca87a70",
    "type": "global-config",
    "env": [],
    "modules": { "@background404/node-red-contrib-python-venv": "0.5.7" }
  }
]
