examples/msg-property.json
[
  {
    "id": "5b5531326f7bb358",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 760,
    "y": 2180,
    "wires": []
  },
  {
    "id": "a66f9b50d7e4b4a7",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "print('hello, world!')\nprint(msg['payload'])\nprint(msg['test'])\nprint(msg['hello'])\nprint(msg)",
    "_mcu": { "mcu": false },
    "x": 590,
    "y": 2180,
    "wires": [["5b5531326f7bb358"]]
  },
  {
    "id": "39188a9cf92544dd",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 420,
    "y": 2180,
    "wires": [["a66f9b50d7e4b4a7"]]
  },
  {
    "id": "a9417274085e051e",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "",
    "_mcu": { "mcu": false }
  }
]
