examples/msg-property.json
[{"id":"c84088e4c5d84bbc","type":"venv","z":"eeae131c89d23304","venvconfig":"07f9f0a14e9171d0","name":"write msg object","code":"msg['payload'] = 'message'\nmsg['topic'] = 'test'\nmsg['custom'] = [1, 2, 3]\nprint('this overrides payload')","continuous":false,"x":1240,"y":240,"wires":[["5984ea59a5a2c42d"]]},{"id":"5984ea59a5a2c42d","type":"debug","z":"eeae131c89d23304","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":240,"wires":[]},{"id":"652a55f2a49157f4","type":"inject","z":"eeae131c89d23304","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1070,"y":240,"wires":[["c84088e4c5d84bbc"]]},{"id":"ae4815c50ec04361","type":"venv","z":"eeae131c89d23304","venvconfig":"07f9f0a14e9171d0","name":"calculate","code":"msg['payload'] = msg['payload'] * 10\n","continuous":false,"x":1220,"y":300,"wires":[["0b27a797abb35e1b"]]},{"id":"0b27a797abb35e1b","type":"debug","z":"eeae131c89d23304","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":300,"wires":[]},{"id":"ec36447bb19f2290","type":"inject","z":"eeae131c89d23304","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":1070,"y":300,"wires":[["ae4815c50ec04361"]]},{"id":"ed3ae8c52c3b1989","type":"venv","z":"eeae131c89d23304","venvconfig":"07f9f0a14e9171d0","name":"increment flow.counter","code":"counter = node['flow'].get('counter', 0) + 1\nnode['flow']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'","continuous":false,"x":1260,"y":420,"wires":[["8b1d070424c9a795"]]},{"id":"a64cbf293de97a16","type":"change","z":"eeae131c89d23304","name":"","rules":[{"t":"set","p":"counter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":360,"wires":[[]]},{"id":"af7a1d8af68a74b4","type":"inject","z":"eeae131c89d23304","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1070,"y":360,"wires":[["a64cbf293de97a16"]]},{"id":"6b54b8571543f68e","type":"inject","z":"eeae131c89d23304","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1070,"y":420,"wires":[["ed3ae8c52c3b1989"]]},{"id":"8b1d070424c9a795","type":"debug","z":"eeae131c89d23304","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":420,"wires":[]},{"id":"22b91e6d9522d2ae","type":"venv","z":"eeae131c89d23304","venvconfig":"07f9f0a14e9171d0","name":"increment global.counter","code":"counter = node['global'].get('counter', 0) + 1\nnode['global']['counter'] = counter\nmsg['payload'] = f'counter = {counter}'","continuous":false,"x":1270,"y":540,"wires":[["a1e5f9547d56d145"]]},{"id":"cc1dae6ee186dc5a","type":"change","z":"eeae131c89d23304","name":"","rules":[{"t":"set","p":"counter","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":480,"wires":[[]]},{"id":"c4b273bd0b56dde1","type":"inject","z":"eeae131c89d23304","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1070,"y":480,"wires":[["cc1dae6ee186dc5a"]]},{"id":"b336bde8843b513c","type":"inject","z":"eeae131c89d23304","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1070,"y":540,"wires":[["22b91e6d9522d2ae"]]},{"id":"a1e5f9547d56d145","type":"debug","z":"eeae131c89d23304","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":540,"wires":[]},{"id":"db882f4b4b6310e8","type":"debug","z":"eeae131c89d23304","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":180,"wires":[]},{"id":"a4d370915ca1755b","type":"venv","z":"eeae131c89d23304","venvconfig":"a9417274085e051e","name":"msg property","code":"print('hello, world!')\nprint(msg['payload'])\nprint(msg['test'])\nprint(msg['hello'])\nprint(msg)","continuous":false,"x":1230,"y":180,"wires":[["db882f4b4b6310e8"]]},{"id":"f41148a00891c68b","type":"inject","z":"eeae131c89d23304","name":"","props":[{"p":"payload"},{"p":"test","v":"Test","vt":"str"},{"p":"hello","v":"Hello!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":180,"wires":[["a4d370915ca1755b"]]},{"id":"07f9f0a14e9171d0","type":"venv-config","venvname":"pyenv","version":"default"},{"id":"a9417274085e051e","type":"venv-config","venvname":"pyenv","version":""},{"id":"2e9969a98b11a756","type":"global-config","env":[],"modules":{"@background404/node-red-contrib-python-venv":"0.5.7"}}]