examples/msg-property.json
[{"id":"96ec700006030b7a","type":"debug","z":"3a0260d17167ea2b","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":560,"y":320,"wires":[]},{"id":"16a205caa2553dae","type":"venv","z":"3a0260d17167ea2b","name":"msg property","code":"print('hello, world!')\nprint(msg['payload'])\nprint(msg['test'])\nprint(msg['hello'])\nprint(msg)","_mcu":{"mcu":false},"x":390,"y":320,"wires":[["96ec700006030b7a"]]},{"id":"a5f2528834d84352","type":"inject","z":"3a0260d17167ea2b","name":"","props":[{"p":"payload"},{"p":"test","v":"Test","vt":"str"},{"p":"hello","v":"Hello!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","_mcu":{"mcu":false},"x":220,"y":320,"wires":[["16a205caa2553dae"]]}]