examples/running-status.json
[
  {
    "id": "363beab3fef4f26a",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 67",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 1580,
    "y": 240,
    "wires": []
  },
  {
    "id": "065de5d05f4619dc",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1230,
    "y": 240,
    "wires": [["b18ce450f0d5cd57", "16b1d422d2378082", "e4dd581c36a3c475"]]
  },
  {
    "id": "07ab4da3ba4bd5c3",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 1060,
    "y": 240,
    "wires": [["065de5d05f4619dc"]]
  },
  {
    "id": "b18ce450f0d5cd57",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1410,
    "y": 240,
    "wires": [["363beab3fef4f26a"]]
  },
  {
    "id": "88c4ec95fcd92432",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 68",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 1580,
    "y": 300,
    "wires": []
  },
  {
    "id": "e93cee3245a278d8",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1230,
    "y": 300,
    "wires": [["16b1d422d2378082"]]
  },
  {
    "id": "d3109d43b78feaf4",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 1060,
    "y": 300,
    "wires": [["e93cee3245a278d8", "065de5d05f4619dc"]]
  },
  {
    "id": "16b1d422d2378082",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1410,
    "y": 300,
    "wires": [["88c4ec95fcd92432"]]
  },
  {
    "id": "0dbc213b251242fb",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 69",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 1580,
    "y": 360,
    "wires": []
  },
  {
    "id": "1f23b4e0e746dd85",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1230,
    "y": 360,
    "wires": [["c33ebaaa67f82954", "16b1d422d2378082"]]
  },
  {
    "id": "06086e293a58c729",
    "type": "inject",
    "z": "3a0260d17167ea2b",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "test", "v": "Test", "vt": "str" },
      { "p": "hello", "v": "Hello!", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "_mcu": { "mcu": false },
    "x": 1060,
    "y": 360,
    "wires": [["1f23b4e0e746dd85"]]
  },
  {
    "id": "c33ebaaa67f82954",
    "type": "venv",
    "z": "3a0260d17167ea2b",
    "venvconfig": "a9417274085e051e",
    "name": "msg property",
    "code": "import time\ntime.sleep(5)\n\nprint('hello, world!')",
    "_mcu": { "mcu": false },
    "x": 1410,
    "y": 360,
    "wires": [["0dbc213b251242fb"]]
  },
  {
    "id": "e4dd581c36a3c475",
    "type": "debug",
    "z": "3a0260d17167ea2b",
    "name": "debug 70",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "_mcu": { "mcu": false },
    "x": 1400,
    "y": 200,
    "wires": []
  },
  {
    "id": "a9417274085e051e",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "",
    "_mcu": { "mcu": false }
  }
]
