examples/venv-exec.json
[
  {
    "id": "3eaf61a6234b295e",
    "type": "pip",
    "z": "d28502020ba67a6d",
    "venvconfig": "36c2cf6f351fdc6e",
    "name": "",
    "arg": "gTTS",
    "action": "install",
    "tail": false,
    "x": 570,
    "y": 440,
    "wires": [["adc2bd3e14623eac"]]
  },
  {
    "id": "2f091f6a39567d20",
    "type": "venv-exec",
    "z": "d28502020ba67a6d",
    "name": "",
    "venvconfig": "36c2cf6f351fdc6e",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 570,
    "y": 560,
    "wires": [["06310f9f37d13a6d"]]
  },
  {
    "id": "0329d8a408d93a42",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 440,
    "wires": [["3eaf61a6234b295e"]]
  },
  {
    "id": "adc2bd3e14623eac",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 150",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 440,
    "wires": []
  },
  {
    "id": "1a7bb359666cbd9b",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 560,
    "wires": [["2f091f6a39567d20"]]
  },
  {
    "id": "06310f9f37d13a6d",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 151",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 560,
    "wires": []
  },
  {
    "id": "7bb796249da8f961",
    "type": "venv-exec",
    "z": "d28502020ba67a6d",
    "name": "",
    "venvconfig": "36c2cf6f351fdc6e",
    "mode": "list",
    "executable": "gtts-cli",
    "arguments": "'hello' --output hello.mp3",
    "x": 570,
    "y": 500,
    "wires": [["a4786a830004db56"]]
  },
  {
    "id": "9e265ad78495a18f",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 500,
    "wires": [["7bb796249da8f961"]]
  },
  {
    "id": "a4786a830004db56",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 152",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 500,
    "wires": []
  },
  {
    "id": "2b7f3442ec5c0f2b",
    "type": "venv-exec",
    "z": "d28502020ba67a6d",
    "name": "",
    "venvconfig": "36c2cf6f351fdc6e",
    "mode": "execute",
    "executable": "pip.exe",
    "arguments": "list",
    "x": 570,
    "y": 620,
    "wires": [["fc1e46b6b410aaf5"]]
  },
  {
    "id": "2c2375175b6507cd",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 620,
    "wires": [["2b7f3442ec5c0f2b"]]
  },
  {
    "id": "fc1e46b6b410aaf5",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 153",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 620,
    "wires": []
  },
  {
    "id": "9d985ff0b8fdfdc8",
    "type": "venv-exec",
    "z": "d28502020ba67a6d",
    "name": "",
    "venvconfig": "36c2cf6f351fdc6e",
    "mode": "execute",
    "executable": "",
    "arguments": "",
    "x": 570,
    "y": 680,
    "wires": [["d460d30e32076cef"]]
  },
  {
    "id": "f7c3be65e6468418",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 680,
    "wires": [["9d985ff0b8fdfdc8"]]
  },
  {
    "id": "d460d30e32076cef",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 154",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 680,
    "wires": []
  },
  {
    "id": "ad3e228c832881fd",
    "type": "venv-exec",
    "z": "d28502020ba67a6d",
    "name": "",
    "venvconfig": "36c2cf6f351fdc6e",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 570,
    "y": 380,
    "wires": [["d2b90b2d03a26252"]]
  },
  {
    "id": "faf05570b1bc51af",
    "type": "inject",
    "z": "d28502020ba67a6d",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 420,
    "y": 380,
    "wires": [["ad3e228c832881fd"]]
  },
  {
    "id": "d2b90b2d03a26252",
    "type": "debug",
    "z": "d28502020ba67a6d",
    "name": "debug 155",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 380,
    "wires": []
  },
  {
    "id": "36c2cf6f351fdc6e",
    "type": "venv-config",
    "venvname": "AI",
    "version": "3.8"
  }
]
