examples/venv-exec.json
[
  {
    "id": "3eaf61a6234b295e",
    "type": "pip",
    "z": "eeae131c89d23304",
    "venvconfig": "07f9f0a14e9171d0",
    "name": "",
    "arg": "gTTS",
    "action": "install",
    "tail": false,
    "x": 1090,
    "y": 1100,
    "wires": [["adc2bd3e14623eac"]]
  },
  {
    "id": "2f091f6a39567d20",
    "type": "venv-exec",
    "z": "eeae131c89d23304",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1090,
    "y": 1220,
    "wires": [["06310f9f37d13a6d"]]
  },
  {
    "id": "0329d8a408d93a42",
    "type": "inject",
    "z": "eeae131c89d23304",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 1100,
    "wires": [["3eaf61a6234b295e"]]
  },
  {
    "id": "adc2bd3e14623eac",
    "type": "debug",
    "z": "eeae131c89d23304",
    "name": "debug 150",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 1100,
    "wires": []
  },
  {
    "id": "1a7bb359666cbd9b",
    "type": "inject",
    "z": "eeae131c89d23304",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 1220,
    "wires": [["2f091f6a39567d20"]]
  },
  {
    "id": "06310f9f37d13a6d",
    "type": "debug",
    "z": "eeae131c89d23304",
    "name": "debug 151",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 1220,
    "wires": []
  },
  {
    "id": "7bb796249da8f961",
    "type": "venv-exec",
    "z": "eeae131c89d23304",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "list",
    "executable": "gtts-cli",
    "arguments": "'hello' --output hello.mp3",
    "x": 1090,
    "y": 1160,
    "wires": [["a4786a830004db56"]]
  },
  {
    "id": "9e265ad78495a18f",
    "type": "inject",
    "z": "eeae131c89d23304",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 1160,
    "wires": [["7bb796249da8f961"]]
  },
  {
    "id": "a4786a830004db56",
    "type": "debug",
    "z": "eeae131c89d23304",
    "name": "debug 152",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 1160,
    "wires": []
  },
  {
    "id": "2b7f3442ec5c0f2b",
    "type": "venv-exec",
    "z": "eeae131c89d23304",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "pip.exe",
    "arguments": "list",
    "x": 1090,
    "y": 1280,
    "wires": [["fc1e46b6b410aaf5"]]
  },
  {
    "id": "2c2375175b6507cd",
    "type": "inject",
    "z": "eeae131c89d23304",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 1280,
    "wires": [["2b7f3442ec5c0f2b"]]
  },
  {
    "id": "fc1e46b6b410aaf5",
    "type": "debug",
    "z": "eeae131c89d23304",
    "name": "debug 153",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 1280,
    "wires": []
  },
  {
    "id": "ad3e228c832881fd",
    "type": "venv-exec",
    "z": "eeae131c89d23304",
    "name": "",
    "venvconfig": "07f9f0a14e9171d0",
    "mode": "execute",
    "executable": "gtts-cli.exe",
    "arguments": "'hello' --output hello.mp3",
    "x": 1090,
    "y": 1040,
    "wires": [["d2b90b2d03a26252"]]
  },
  {
    "id": "faf05570b1bc51af",
    "type": "inject",
    "z": "eeae131c89d23304",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 940,
    "y": 1040,
    "wires": [["ad3e228c832881fd"]]
  },
  {
    "id": "d2b90b2d03a26252",
    "type": "debug",
    "z": "eeae131c89d23304",
    "name": "debug 155",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 1040,
    "wires": []
  },
  {
    "id": "07f9f0a14e9171d0",
    "type": "venv-config",
    "venvname": "pyenv",
    "version": "default"
  },
  {
    "id": "610f013dc104cf18",
    "type": "global-config",
    "env": [],
    "modules": { "@background404/node-red-contrib-python-venv": "0.5.7" }
  }
]
